/* Стили для футера */
#footer {
    font-family: "Source Code Pro", monospace;
    position: absolute; /* Используем absolute вместо fixed */
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

#footer .inner {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#footer p, a {
    margin: 0;
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}
#footer a:hover {
    margin: 0;
    color: green; /* Цвет при наведении курсора, если хотите, чтобы он не менялся */
    text-decoration: none; /* Можно добавить подчеркивание только при наведении */
}

#footer .fab {
    font-size: 1em; /* Установите размер иконки */
    color: black; /* Цвет иконки */
}


/* Адаптивность */
@media (max-width: 768px) {
    #footer .inner {
        padding: 10px;
    }

    #footer p {
        font-size: 0.8em;
    }
}