/* Общие стили */

@font-face {
    font-family: 'DEFAULT';
    src: url('/static/assets/fonts/SourceCodePro-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BOLD';
    src: url('/static/assets/fonts/SourceCodePro-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TITLE';
    src: url('/static/assets/fonts/IntroFriday.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, html {
    overflow-x: hidden;
}

body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c5c5c5;
}

#main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.inner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* Адаптивность */
/*@media (max-width: 768px) {*/
/*    header {*/
/*        width: 320px !important;*/
/*    }*/
/*    .item-grid-container {*/
/*        max-width: 320px !important;*/
/*    }*/
/*    .inner {*/
/*        padding: 10px;*/
/*    }*/
/*}*/

@media (min-width: 320px) {
    .item-grid-container {
        height: 50em;
    }
    .item-grid {
        height: 20em !important;
    }
    .item-description, .item-images {
        height: 30em !important;
    }
    .item-description p {
        font-size: 11px !important;
    }


}